<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <style>
        .message {
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3
        }
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }

    </style>
</head>
<body>
    <nav>
        <a href="{{url_for('index')}}">Regular Grammar to NFA</a>
        <a href="{{ url_for('index2') }}">NFA to Regular Grammar</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
    <div class="validate">
        {% block validate %} {% endblock %}
    </div>
</body>
</html>