{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Convert Regular Grammar to NFA {% endblock %}</h1>
    <form method="post">
        

        
        <label for="content">Input Regular Grammar</label>
        <br>
        <textarea name="content"
                  placeholder="Message content"
                  rows="15"
                  cols="60"
                  >{{ request.form['content'] }}</textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}