{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Convert Regular Grammar to NFA {% endblock %}</h1>
    <form method="post" action="/cfgnfasolution">
        <label for="grammar">Input Regular Grammar</label>
        <br>
        <textarea name="grammar"
                  placeholder="Enter grammar"
                  rows="15"
                  cols="60"
                  >{{ request.form['grammar'] }}</textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
    <p>Q = {{Q}}</p>
    <br>
    <p>Sigma = {{sigma}}</p>
    <br>
    <p>Delta = {{delta}}</p>
    <br>
    <p>Initial State = {{initialState}}</p>
    <br>
    <p>Final State = {{finalState}}</p>
    
{% endblock %}

{% block validate %}
    <form method="post" action="/validate/">
        <label for="validate">Input Strings To Validate</label>
        <br>
        <textarea name="validate"
                  placeholder="Enter 5 strings"
                  rows="15"
                  cols="60"
                  >{{ request.form['validate'] }}</textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
    <p>String = {{string}}</p>
    <p>Grammar = {{grammar}}</p>
    <p>Result = {{result}}</p>
    <img src="/static/NFA Visualization.gv.png" alt="NFA with Epsilon">
    <br>
    <img src="/static/No Epsilon NFA.gv.png" alt="NFA without Epsilon">
    
    
    
{% endblock %}