Package      Version
------------ ---------
automathon   0.0.7
click        8.0.4
Flask        2.0.3
graphviz     0.16
itsdangerous 2.1.2
Jinja2       3.1.1
joblib       1.1.0
MarkupSafe   2.1.1
nltk         3.7
pip          21.2.3
regex        2022.3.15
setuptools   57.4.0
tqdm         4.63.1
Werkzeug     2.0.3
